.nav-link {
    text-decoration: none;
    color: black;
    list-style: none;
}


.logo {
    width: 300px;
}

body {
    background-color: rgb(185, 185, 185);
}

nav ul li {
    display: flex;
    flex-direction: column;
    height: 50px;
}
