
.nav-link {
    text-decoration: none;
    color: black;
    list-style: none;
}


body {
    background-color: rgb(185, 185, 185);
}

.carousel {
    width: 80%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    
    
}

#carouselExample {
    margin-left: 100px;
    margin-bottom: 50px;
}

.gif-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.logo{
    width: 300px;
}

.gif-sec-item {
    width: 500px;
}

.drawing-sec-item {
    width: 500px;
}

.drawing-sec-item {
    margin-bottom: 10px;
}

.photograph {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.photo-edits {
    display: block;

}

.photograph-item {
    max-width: 700px;
    margin-bottom: 10px;

}

